
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(137deg, 
    hsl(0, 0%, 0%) 0%,
    hsl(124.39, 100%, 0.08%) 1%,
    hsl(124.39, 100%, 0.16%) 2%,
    hsl(124.39, 100%, 0.24%) 3%,
    hsl(124.39, 100%, 0.32%) 4%,
    hsl(124.39, 100%, 0.40%) 5%,
    hsl(124.39, 100%, 0.48%) 6%,
    hsl(124.39, 100%, 0.56%) 7%,
    hsl(124.39, 100%, 0.64%) 8%,
    hsl(124.39, 100%, 0.72%) 9%,
    hsl(124.39, 100%, 0.80%) 10%,
    hsl(124.39, 100%, 0.88%) 11%,
    hsl(124.39, 100%, 0.96%) 12%,
    hsl(124.39, 100%, 1.04%) 13%,
    hsl(124.39, 100%, 1.12%) 14%,
    hsl(124.39, 100%, 1.20%) 15%,
    hsl(124.39, 100%, 1.28%) 16%,
    hsl(124.39, 100%, 1.36%) 17%,
    hsl(124.39, 100%, 1.44%) 18%,
    hsl(124.39, 100%, 1.52%) 19%,
    hsl(124.39, 100%, 1.60%) 20%,
    hsl(124.39, 100%, 1.68%) 21%,
    hsl(124.39, 100%, 1.76%) 22%,
    hsl(124.39, 100%, 1.84%) 23%,
    hsl(124.39, 100%, 1.92%) 24%,
    hsl(124.39, 100%, 2.00%) 25%,
    hsl(124.39, 100%, 2.08%) 26%,
    hsl(124.39, 100%, 2.16%) 27%,
    hsl(124.39, 100%, 2.24%) 28%,
    hsl(124.39, 100%, 2.32%) 29%,
    hsl(124.39, 100%, 2.40%) 30%,
    hsl(124.39, 100%, 2.48%) 31%,
    hsl(124.39, 100%, 2.56%) 32%,
    hsl(124.39, 100%, 2.64%) 33%,
    hsl(124.39, 100%, 2.72%) 34%,
    hsl(124.39, 100%, 2.80%) 35%,
    hsl(124.39, 100%, 2.88%) 36%,
    hsl(124.39, 100%, 2.96%) 37%,
    hsl(124.39, 100%, 3.04%) 38%,
    hsl(124.39, 100%, 3.12%) 39%,
    hsl(124.39, 100%, 3.20%) 40%,
    hsl(124.39, 100%, 3.28%) 41%,
    hsl(124.39, 100%, 3.36%) 42%,
    hsl(124.39, 100%, 3.44%) 43%,
    hsl(124.39, 100%, 3.52%) 44%,
    hsl(124.39, 100%, 3.60%) 45%,
    hsl(124.39, 100%, 3.68%) 46%,
    hsl(124.39, 100%, 3.76%) 47%,
    hsl(124.39, 100%, 3.84%) 48%,
    hsl(124.39, 100%, 3.92%) 49%,
    hsl(124.39, 100%, 4.00%) 50%,
    hsl(124.39, 100%, 4.08%) 51%,
    hsl(124.39, 100%, 4.16%) 52%,
    hsl(124.39, 100%, 4.24%) 53%,
    hsl(124.39, 100%, 4.32%) 54%,
    hsl(124.39, 100%, 4.40%) 55%,
    hsl(124.39, 100%, 4.48%) 56%,
    hsl(124.39, 100%, 4.56%) 57%,
    hsl(124.39, 100%, 4.64%) 58%,
    hsl(124.39, 100%, 4.72%) 59%,
    hsl(124.39, 100%, 4.80%) 60%,
    hsl(124.39, 100%, 4.88%) 61%,
    hsl(124.39, 100%, 4.96%) 62%,
    hsl(124.39, 100%, 5.04%) 63%,
    hsl(124.39, 100%, 5.12%) 64%,
    hsl(124.39, 100%, 5.20%) 65%,
    hsl(124.39, 100%, 5.28%) 66%,
    hsl(124.39, 100%, 5.36%) 67%,
    hsl(124.39, 100%, 5.44%) 68%,
    hsl(124.39, 100%, 5.52%) 69%,
    hsl(124.39, 100%, 5.60%) 70%,
    hsl(124.39, 100%, 5.68%) 71%,
    hsl(124.39, 100%, 5.76%) 72%,
    hsl(124.39, 100%, 5.84%) 73%,
    hsl(124.39, 100%, 5.92%) 74%,
    hsl(124.39, 100%, 6.00%) 75%,
    hsl(124.39, 100%, 6.08%) 76%,
    hsl(124.39, 100%, 6.16%) 77%,
    hsl(124.39, 100%, 6.24%) 78%,
    hsl(124.39, 100%, 6.32%) 79%,
    hsl(124.39, 100%, 6.40%) 80%,
    hsl(124.39, 100%, 6.48%) 81%,
    hsl(124.39, 100%, 6.56%) 82%,
    hsl(124.39, 100%, 6.64%) 83%,
    hsl(124.39, 100%, 6.72%) 84%,
    hsl(124.39, 100%, 6.80%) 85%,
    hsl(124.39, 100%, 6.88%) 86%,
    hsl(124.39, 100%, 6.96%) 87%,
    hsl(124.39, 100%, 7.04%) 88%,
    hsl(124.39, 100%, 7.12%) 89%,
    hsl(124.39, 100%, 7.20%) 90%,
    hsl(124.39, 100%, 7.28%) 91%,
    hsl(124.39, 100%, 7.36%) 92%,
    hsl(124.39, 100%, 7.44%) 93%,
    hsl(124.39, 100%, 7.52%) 94%,
    hsl(124.39, 100%, 7.60%) 95%,
    hsl(124.39, 100%, 7.68%) 96%,
    hsl(124.39, 100%, 7.76%) 97%,
    hsl(124.39, 100%, 7.84%) 98%,
    hsl(124.39, 100%, 7.92%) 99%,
    hsl(124.39, 100%, 8.04%) 100%
  );
  background-size: 300% 300%;
  animation: gradient-animation 80s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: white;
}

.home {
  min-height: 100vh; 
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: top;
  align-items: center;
  vertical-align: top;
  padding-top: 130px;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
}

.title {
  color: white;
  font-weight: 3000;
  font-size: 50px;
  justify-content: center;
}

.title-paragraph {
  display:flex;
  gap: 20px;
  flex-wrap: wrap;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0)
}

a:hover {
  color: rgb(75, 54, 124)
}


.book {
  position: relative;
  border-radius: 20px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  font-size: large;
  background-image: linear-gradient(144deg,#3c915b, #358e39 50%,#379017);
  overflow: visible; /* Ensure the 3D flip effect is not clipped */
}

.cover {
  top: 0;
  position: absolute;
  background-image: linear-gradient(144deg,#2c5b3d, #39825f 50%,#218743);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: x-large;
}

.book:hover .cover {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: rotatey(-110deg);
  -ms-transform: rotatey(-110deg);
  transform: rotatey(-110deg);
}

p {
  font-size: 20px;
}

.site-description {
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

/* Animation class to apply focus-in-expand effect */
.focus-in-expand {
  -webkit-animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Keyframes for focus-in-expand animation */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em; /* Initial letter spacing */
    -webkit-filter: blur(12px); /* Initial blur effect */
            filter: blur(12px); /* Initial blur effect */
    opacity: 0; /* Initial opacity */
  }
  100% {
    -webkit-filter: blur(0px); /* Final blur effect */
            filter: blur(0px); /* Final blur effect */
    opacity: 1; /* Final opacity */
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em; /* Initial letter spacing */
    -webkit-filter: blur(12px); /* Initial blur effect */
            filter: blur(12px); /* Initial blur effect */
    opacity: 0; /* Initial opacity */
  }
  100% {
    -webkit-filter: blur(0px); /* Final blur effect */
            filter: blur(0px); /* Final blur effect */
    opacity: 1; /* Final opacity */
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Centers the text horizontally */
  animation: 
    typing 3.5s steps(40, end) 2s,
    blink-caret .75s step-end infinite 2s;
  color: white;
  text-align: center; /* Keeps the text centered */
  visibility: hidden; /* Initially hidden */
  animation-fill-mode: forwards; /* Ensures the element stays visible after animation */
}

@keyframes typing {
  from { width: 0; visibility: visible; } /* Starts typing and becomes visible */
  to { width: 100%; visibility: visible; } /* Ensures it remains visible after typing */
}

