@import 'primereact/resources/themes/lara-light-blue/theme.css'; /* Choose the theme you're using */
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}
  
.navbar-left .logo {
font-size: 1.5rem;
font-weight: bold;
color: #fff;
text-decoration: none;
}

.navbar-center .nav-links {
list-style-type: none;
display: flex;
margin: 0;
padding: 0;
}

.navbar-center .nav-links a:hover {
color: rgb(162, 236, 102);
}

.navbar-center .nav-links li {
margin-right: 1rem;
}

.navbar-center .nav-links a {
color: #fff;
text-decoration: none;
}

.navbar-right {
display: flex;
align-items: center;
}

.nav-button {
    padding: 12px; /* Adjust as needed */
    margin: 5px; /* Optional: Adds spacing between buttons */
    font-size: 12px; /* Optional: Adjusts text size */
}
